*,
::before,
::after {
	box-sizing: border-box;
}
header{
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 118, 136);
    position: fixed;
    top: 0;
    color: white;
    height: 5rem;
    width: 110vw;
    z-index: 1000000;
}
main{
    position: relative;
    top: 5rem;
    padding: 1rem;
}
.up-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1rem;
}
.cart-button{

    display: flex;
    justify-content: flex-end;
}
.grid-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-product{
    display: grid;
    grid-template-columns: 1fr;
}
.product-box{
    display: grid;
    grid-template-rows: 2rem 1fr 2rem;
    border: solid 1px black;
}
.name-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.item-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.price-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
}
.button-box{
    display: flex;
    justify-content: flex-end;
}
.carrito{
    position: fixed;
    display: grid;
    background-color: beige;
    grid-template-rows: repeat(22, 2.52rem);
    height: 100%;
    left: 0;
    top: 5rem;
    align-items: top;
    overflow: hidden;
    border: solid 1px black;
    z-index: 1;
}
.item-box{
    min-width: 5rem;
    height: 100%;
    background-color: beige;
    border: solid 1px black;
}
.end-carrito{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 5rem;
    height: 100%;
    background-color: rgb(182, 182, 161);
    border: solid 1px black;

}
.empty-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-price{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}
.hide-carrito{
    width: 0px;
    z-index: 1;
    animation-name: carrito-compra-fuera;
    animation-duration: 0.5s;
}
.fuera{
    width: 0px;
    z-index: 1;
}
.show{
    width: 20rem;
    animation-name: carrito-compra;
    animation-duration: 0.5s;
}
.item-name{
    display: flex;
    /* height: 2rem; */
    padding-top: 1px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
.item-price{
    background-color: beige;
    display: flex;
    color: black;
    justify-content: end;
    /* padding: 1.5rem; */
    
}
.item-description{
    background-color: rgb(165, 119, 184);
    padding: 1rem;
}
@keyframes carrito-compra {
    from{
width: 0;
    } to{
width: 20rem;
    }
}
@keyframes carrito-compra-fuera {
    from{
width: 20rem;
    } to{
width: 0rem;
    }
}